<h2>Recently Added</h2>

<div>    
    <% books.forEach(book => { %>
        <img src="<%= book.coverImagePath ||  '/public/uploads/bookCovers/1733a589f5f26cac0729a4444972a0aa' %>" alt="" height="150" width="100">
        <% }); %>
</div>
